.item {
    width: 250px;
    height: 300px;
    background-color: lightgray;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

.item img {
    border-radius: 20px;
}

.item button {
    padding: 10px;
}